# Build directory
build

# Meson Directories
meson-logs
meson-private

# Meson Files
meson_benchmark_setup.dat
meson_test_setup.dat

# Ninja
build.ninja
.ninja_deps
.ninja_logs

# Misc
compile_commands.json

# Object files
*.o
